p {
    text-align: center;
    font-size: xx-large;
}

ul {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 300;
    font-size: x-large;
}

.list {
    margin: 0 auto;
    max-width: 680px;
}

.list-header {
    font-weight: bold;
    font-size: initial;
    border-bottom: 4px dashed lightgray;
}

.left {
    width: 260px;
}

.middle {
    width: 200px;
    text-align: right;
}

.right {
    width: 140px;
    text-align: right;
}

.right-most {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete {
    height: 24px;
    width: 24px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: bold;
    background: rgba(10,10,10,.15);
    color: white;
    font-weight: bold;
    border: none;
}

.delete:hover {
    color: red;
    background: lightpink;
}