ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
}

li {
    padding: 10px 20px;
}

li:hover h4 {
  color: goldenrod;
}

h4 {
  text-align: center;
  margin: 10px 0;
}