<h2>
  Click me and add to cart when you are ready!
  <!-- Make your own coffee! -->
</h2>
<div class="coffee">
  <app-cup [item]="coffee"></app-cup>
</div>
<div class="recipe">
  <ul>
    <li *ngFor="let item of coffee.recipe">
      <label>{{ item.name }}</label>
      <div>
        <button type="button" (click)="!item.quantity || item.quantity = item.quantity - 5">-</button>
        <input [(ngModel)]="item.quantity" type="number" step="5" min="0" max="100">
        <button type="button" (click)="item.quantity >= 100 ||item.quantity = item.quantity + 5">+</button>
      </div>
    </li>
  </ul>
</div>